In [ ]:
# Weather Data Comparison: Addis Ababa & Seattle (April 17–27, 2025)
# This notebook compares temperature and precipitation for two cities using uploaded CSV files.
# Upload `addis_weather_apr_17_27.csv` and `seattle_weather_apr_17_27.csv` before running.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Load the datasets
addis_df = pd.read_csv('addis_weather_apr_17_27.csv')
seattle_df = pd.read_csv('seattle_weather_apr_17_27.csv')

In [ ]:
# Convert date column to datetime
addis_df['date'] = pd.to_datetime(addis_df['date'])
seattle_df['date'] = pd.to_datetime(seattle_df['date'])

In [ ]:
# Plot temperature range comparison
plt.figure(figsize=(12, 6))
plt.plot(addis_df['date'], addis_df['temp_max (°F)'], label='Addis Ababa Max Temp', marker='o')
plt.plot(addis_df['date'], addis_df['temp_min (°F)'], label='Addis Ababa Min Temp', linestyle='--', marker='o')
plt.plot(seattle_df['date'], seattle_df['temp_max (°F)'], label='Seattle Max Temp', marker='s')
plt.plot(seattle_df['date'], seattle_df['temp_min (°F)'], label='Seattle Min Temp', linestyle='--', marker='s')
plt.title('Temperature Comparison (°F) from April 17–27, 2025')
plt.xlabel('Date')
plt.ylabel('Temperature (°F)')
plt.legend()
plt.grid(True)
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
# Plot precipitation comparison
plt.figure(figsize=(12, 6))
plt.plot(addis_df['date'], addis_df['precipitation (inches)'], label='Addis Ababa Precipitation', marker='o')
plt.plot(seattle_df['date'], seattle_df['precipitation (inches)'], label='Seattle Precipitation', marker='s')
plt.title('Precipitation Comparison (inches) from April 17–27, 2025')
plt.xlabel('Date')
plt.ylabel('Precipitation (inches)')
plt.legend()
plt.grid(True)
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()